@page
@model University.Active.Manager.Web.Pages.Account.Login

@{
    Layout = "Shared/_Layout";
}

<div>
    <form method="post">
        <p><label>login</label><br />
            <input asp-for="UserLoginModel.Login" name="login" />
        </p>
        <p>
            <label>password</label><br />
            <input asp-for="UserLoginModel.Password" name="password" type="password" />
        </p>
        <input type="submit" value="Отправить" />
    </form>
</div>
