@page
@model University.Active.Manager.Web.Pages.Account.SignUp

@{
    Layout = "Shared/_Layout";
}
<div>
    <form method="post">
        <p>
            <label asp-for="UserModel.FirstName">Имя</label><br/>
            <input asp-for="UserModel.FirstName" />
        </p>
        <p>
            <label asp-for="UserModel.LastName">Фамилия</label><br />
            <input asp-for="UserModel.LastName" />
        </p>
        <p>
            <label asp-for="UserModel.MiddleName">Отчество</label><br />
            <input asp-for="UserModel.MiddleName" />
        </p>
        
        <select asp-for="Institutes">
                              
            @foreach (var institute in Model.Institutes)
            {          
                <option value="@institute.Value">@institute.Text</option>
            }
        </select>
        <p>
            <label asp-for="UserModel.Email">Почта</label><br />
            <input asp-for="UserModel.Email" type="email" />
        </p>

        <p>
            <label asp-for="UserModel.Password">Почта</label><br />
            <input asp-for="UserModel.Password" type="password" />
        </p>
        <p>
            <label asp-for="UserModel.Password">Почта</label><br />
            <input asp-for="UserModel.Password" type="password" />
        </p>
        

        <input type="submit" value="Отправить"/>
    </form>
</div>
