@page
@model University.Active.Manager.Web.Pages.Home

@{
    
    ViewBag.Title = "Профиль студента";
    Layout = "Shared/_Layout";
}

<div class="container">
    <h2> Студент </h2>

    <h3>Колличество баллов : </h3>
    Участвовал в мероприятиях: <br>
</div>
