@page
@using University.Active.Manager.Contracts;
@model University.Active.Manager.Web.Pages.Institute.InstitutesModel
@{
    ViewBag.Title = "Админка институтов";
    Layout = "Shared/_Layout";
}

@if (Model.Institutes != null)
{
    <table>
        @foreach (var institute in Model.Institutes)
        {
            <tr>
                <td> @institute.Id </td>
                <td>@institute.Name</td>
                <td>
                    
                    <form method="post">
                        <!-- <snippet_Edit> -->
                        <a asp-page="./Edit" asp-route-id="@institute.Id">Edit</a> |
                        <!-- </snippet_Edit> -->
                        <!-- <snippet_Delete> -->
                        <button type="submit" asp-page-handler="delete" asp-route-id="@institute.Id">delete</button>
                    </form>
                    <!-- </snippet_Delete> -->
                </td>
            </tr>
        }
    </table>
}

<form method="post">

    <input asp-for="InstituteModel.Name" />
    <select asp-for="InstituteModel.Specialty" asp-items="Html.GetEnumSelectList<Specialty>()">
        <option value="">Выберите специальность</option>
    </select>
    <input type="submit" value="Create" class="btn btn-primary" />
</form>
